extends ../../layouts/default.pug

block main
  h1 Tổng quan tài chính

  .row.mt-4
    //- Card Balance
    .col-lg-4.mb-4
      .card.card-custom.card-balance
        .card-body
          h5.card-title Số dư hiện tại
          p.card-text.display-6 #{totalBalance} 
          small VND

  .row.mt-4
    .col-12
      .card.card-custom
        .card-body
          h5.card-title Xu hướng Dòng tiền
          div(style="height: 350px;")
            canvas#lineChart

  .row.mt-4
    .col-md-6.mb-4
      .card.card-custom
        .card-body
          h5.card-title Nguồn thu nhập
          div(style="height: 300px; position: relative;")
            canvas#incomePieChart

    .col-md-6.mb-4
      .card.card-custom
        .card-body
          h5.card-title Cơ cấu chi tiêu
          div(style="height: 300px; position: relative;")
            canvas#expensePieChart

  //- Truyền dữ liệu từ Server xuống Client
  script.
    const chartLabels = !{labels};
    const chartIncomeData = !{dataIncome};
    const chartExpenseData = !{dataExpense};
    const incomeLabels = !{incomePieLabels};
    const incomeData = !{incomePieData};
    const expenseLabels = !{expensePieLabels};
    const expenseData = !{expensePieData};