mixin alert-success(time)
  - if (messages.success)
    .message.info
      div(
        class="alert alert-success alert-dismissible fade show"
        role="alert"
        show-alert
        data-time=time
      )
        | #{messages.success}
        button.btn-close(type="button" close-alert aria-label="Close")

mixin alert-error(time)
  - if (messages.error)
    .message.info
      div(
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
        show-alert
        data-time=time
      )
        | #{messages.error}
        button.btn-close(type="button" close-alert aria-label="Close")